{% extends "base.html" %} {% from 'bootstrap5/utils.html' import render_icon %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Account</h1>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col"><b>Email:</b>&nbsp;{{current_user.email}}</div>
    <div class="col">
      <object
        width="200"
        height="200"
        class="rounded-circle img-thumbnail"
        data="{{current_user.profile_image.decode() if current_user.profile_image else '/static/fallback.png'}}">
        <img
          width="200"
          height="200"
          class="rounded-circle img-thumbnail"
          src="/static/fallback.png" />
      </object>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <form
        method="post"
        action="/account/image">
        <div class="mb-3">
          <label
            for="url"
            class="form-label">
            Image URL
          </label>
          <input
            type="text"
            class="form-control"
            name="url"
            id="url" />
        </div>
        <button
          type="submit"
          class="btn btn-primary">
          Upload
        </button>
      </form>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h2>Visuals</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <form
        action="/darkmode"
        method="post">
        <button
          type="submit"
          class="btn btn-primary d-flex align-items-center">
          {% if g.preferences['mode'] == 'light' %}
          {{render_icon('moon')}}&nbsp;Enable Darkmode {% else %}
          {{render_icon('sun')}}&nbsp;Disable Darkmode {% endif %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
