{% extends "base.html" %} {% block content %} {% from 'bootstrap5/utils.html'
import render_icon %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
  </div>
  <div class="row">
    {%for note in notes %}
    <div class="col-sm-6">
      <div
        class="card"
        style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{note.title}} {% if note.private %} - Private
            {{render_icon('file-lock-fill')}} {% endif %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{note.created_at}}</h6>
          <p class="card-text">
            {{note.text | safe}}
            <span>{{note.user}}</span>
          </p>
          <a
            href="#"
            class="card-link"
            >Delete</a
          >
        </div>
      </div>
    </div>
    {%endfor%}
    <div class="row">
      <form
        method="post"
        action="/notes">
        <div class="mb-3">
          <label
            for="title"
            class="form-label">
            Title
          </label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            required />
        </div>
        <div class="mb-3">
          <label
            for="text"
            class="form-label">
            Text
          </label>
          {{ ckeditor.create(name="text") }}
        </div>
        <div class="mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            name="private"
            id="private" />
          <label
            class="form-check-label"
            for="private">
            Private?
          </label>
        </div>
        <button
          type="submit"
          class="btn btn-primary">
          Add Note
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ ckeditor.load() }} {% endblock %}
