{% extends "base.html" %} {% block content %} {% from 'bootstrap5/utils.html'
import render_icon %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Home</h1>
        <button class="btn btn-primary mb-2 d-flex align-items-center" data-bs-toggle="modal"
          data-bs-target="#create_note_modal">
          {{ render_icon('file-earmark-plus') }}&nbsp;Create note
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    {% for note in notes %}
    <div class="col col-12 col-md-6">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between">
            <span>{{ note.title }}</span>{% if note.private %}
            <small class="text-muted d-flex align-items-center">
              Private&nbsp;{{render_icon('file-lock')}}
            </small>
            {% endif %}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ note.created_at.strftime('%Y-%m-%d %H:%M') }}
          </h6>
          <p class="card-text">{{ note.text | safe }}</p>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <object width="40" height="40" class="rounded img-thumbnail d-flex"
              data="{{note.user.profile_image.decode() if note.user.profile_image else '/static/fallback.png'}}">
              <img width="40" height="40" class="rounded img-thumbnail" src="/static/fallback.png" />
            </object>
            <span class="ms-1">By {{ note.user.email }}</span>
          </div>
          {% if note.user_id == current_user.id or current_user.is_admin %}
          <form method="post" action="/notes/{{note.id}}/delete">
            <button type="submit" class="btn btn-primary d-flex align-items-center">
              {{render_icon('trash')}}&nbsp;Delete
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %} {% include "partials/create_note_modal.html" %} {% if notes |
    length == 0 %}
    <p>Create your first note!</p>
    {% endif %}
  </div>
</div>
{% endblock %} {% block scripts %} {{ ckeditor.load() }} {% endblock %}