{% extends "base.html" %} {% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/table.html' import render_table %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Registration Codes</h1>
        <form method="post" action="/registration-codes">
          <button type="submit" class="btn btn-primary mb-2 d-flex align-items-center">
            {{ render_icon('plus-circle') }}&nbsp;Generate new
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      {{ render_table(registration_codes, responsive=True, titles=[('code','Code')],
      table_classes="font-monospace") }}
      {% if registration_codes | length == 0 %}
      <p>No registration codes available</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}