{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Signup</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post" action="/signup">
        <div class="mb-3">
          <label for="email" class="form-label">
            Email address
          </label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">
            Password
          </label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="mb-3">
          <label for="registration_code" class="form-label">
            Registration Code
          </label>
          <input type="password" class="form-control" id="registration_code" name="registration_code" />
        </div>
        <button type="submit" class="btn btn-primary">
          Signup
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}